@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📱 Usage Meter</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        @if (DeviceInfo.Platform == DevicePlatform.Android)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rules">
                    <span class="bi bi-rules-nav-menu" aria-hidden="true"></span> Rules
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="android-usage">
                    <span class="bi bi-phone-nav-menu" aria-hidden="true"></span> App Usage
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-settings-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

        @{
            var isDebugBuild = false;
#if DEBUG
        isDebugBuild = true;
#endif
        }

        @if (isDebugBuild)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rule-test">
                    <span class="bi bi-test-nav-menu" aria-hidden="true"></span> Test Rules
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="launch-test">
                    <span class="bi bi-launch-test-nav-menu" aria-hidden="true"></span> Launch Test
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="app-launcher-test">
                    <span class="bi bi-launch-test-nav-menu" aria-hidden="true"></span> App Launcher Test
                </NavLink>
            </div>
        }
    </nav>
</div>